:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* Primary Color - Indigo */
    --primary-color: #5c6bc0;
    --primary-color-lightest: #ebeffb; /* Warmer Light Indigo */
    --primary-color-lighter: #c3cdee;
    --primary-color-light: #9ea4e5;
    --primary-color-dark: #3b47a3;
    --primary-color-darker: #313b8f;
    --primary-color-darkest: #1f2868;

    /* Secondary Color - Muted Coral */
    --secondary-color: #ff6f61; /* Slightly softened coral */
    --secondary-color-lightest: #ffe6e1;
    --secondary-color-lighter: #ffb3a2;
    --secondary-color-light: #ff8f7f;
    --secondary-color-dark: #e65a50;
    --secondary-color-darker: #cc5147;
    --secondary-color-darkest: #a83d35;

    /* Background Colors - Cooler Grays */
    --background-color: #f7faff; /* Soft Blue-Gray */
    --background-color-light: #ffffff; /* Clean White */
    --background-color-dark: #e0e4f1; /* Soft Gray with Blue Tint */
    --background-color-darker: #d1d9e6; /* Slightly Darker Cool Gray */

    /* Text Colors */
    --text-color: #2e2e2e; /* Dark Gray */
    --text-color-light: #757575;

    /* Accent Color - Teal */
    --accent-color: #64ffda; /* Soft Teal */

    /* Border Color - Indigo */
    --border-color: #5c6bc0;

    /* Button Background Colors - Lighter Purples */
    --button-bg-color: #b39ddb; /* Lighter Medium Purple */
    --button-bg-light: #d1c4e9; /* Even Lighter Purple */
    --button-bg-dark: #9575cd; /* Lighter Dark Purple */
    --button-bg-darkest: #7e57c2; /* Lighter Darkest Purple */

    /* Button Hover Background Colors - Lighter Purples */
    --button-hover-bg-color: #d1c4e9; /* Softer Lighter Purple */
    --button-hover-light: #ede7f6; /* Very Soft Light Purple */
    --button-hover-dark: #b39ddb; /* Lighter Medium Purple */

    /* Disabled Button Background Colors */
    --button-disabled-bg-color: #424242; /* Dark Gray */
    --button-disabled-bg-light: #616161; /* Lighter Gray */
    --button-disabled-bg-dark: #303030; /* Darker Gray */
    --button-disabled-bg-darkest: #212121; /* Darkest Gray */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    color: var(--primary-color);
    text-shadow: 1px 1px var(--text-color-light);
}

h2 {
    color: var(--secondary-color);
    text-shadow: 1px 1px var(--text-color-light);
}

h3 {
    color: var(--primary-color-light);
    text-shadow: 1px 1px var(--text-color-light);
}

h4 {
    color: var(--secondary-color-light);
    text-shadow: 1px 1px var(--text-color-light);
}

button, input[type="button"], input[type="submit"] {
    border-radius: 10px !important;
}

.helpTextHighlights{
    display: contents;
    color: var(--primary-color);
}